<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

      <title>Django Exercises</title>
  </head>
  <body>

    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        {% if user.is_authenticated %}
          <p class="level-item"><span class="mr-1">Welcome, {{ user.get_username }}. You can use the app now. </span><a class="is-link" href="{% url 'logout' %}">Logout</a></p>
        {% else %}
          <p class="level-item"><span class="mr-1">Welcome, please </span><a class="is-link" href="{% url 'login' %}">login</a><span class="ml-1">to use the app</span></p>
        {% endif %}
      </div>
    </nav>
    <section class="hero is-primary">
      <div class="hero-body">
        <p class="title">
          Django Exercises
        </p>
        <p class="subtitle">
          Some basic functionality of django and django rest framework
        </p>
      </div>
    </section>
      {% block content %}

      {% endblock %}


  </body>
</html>